@{
    ViewData["Title"] = "Home Page";
}


    <div class="content" style="overflow:auto" >
        <div class="welcome-section">
            <h2>Welcome to</h2>
            <h1>Ai-Timan</h1>
            <p>Streamlining Outpatient Care</p>
        </div>

    </div>



@*</body>
</html>
*@